body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif
}

body,
html {
    height: 100%;
    line-height: 1.8;
}

.background-img {
    background-size: cover;
    background-position: center;
    height: 100%;
    background-image: url("/startup/images/maninblack.jpg");
    min-height: 100%;
}

.main-pg {

    vertical-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 62px;
    color: white;
    padding: 60px;

}

.main-btn {
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    background-color: aliceblue;
    color: black;
    opacity: 90%;

}

.main-btn:hover {
    padding: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: aliceblue;
    color: black;
    scale: 110%;
    opacity: 75%;
}

.main-btn:visited,
.main-btn:link,
.main-btn:active {
    text-decoration: none;
}

.about-pg {
    height: max-content;
    padding-top: 40px;
    text-align: center;
    font-size: 60px;
}

.about-sd {
    font-size: 45px;
}

.half {
    display: inline-block;
    width: 50%;
    padding: 30px;
}

.challenges {
    text-align: center;
    background-color: rgb(30, 30, 30);
    padding: 30px;
}

.challenges-v2 {
    padding: 30px;
}

.challenges-title {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 50px;
}

.challenges-content {
    color: white;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Ubuntu";
}

/* Three columns side by side */
.column {
    float: left;
    width: 33.3%;
    padding: 0 8px;
    text-align: center;
}

.ppl-name {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
}

.ppl-post {
    font-size: 30px;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    font-size: 25px;
    padding: 15px;
}